# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/2.14.1/
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xxhdpi.json
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.1/
app/build/intermediates/incremental-safeguard/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/mergeDebugShaders/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/pre-dexed/debug/com.android.support-support-v4-23.0.1_fb8c199ddc1470cd258bb626f113d7a2de16dd79.jar
app/build/intermediates/pre-dexed/debug/internal_impl-23.0.1_9fd9ceb8225c4730c9791df7d47c5541c10fb429.jar
app/build/intermediates/pre-dexed/debug/support-annotations-23.0.1_43f5c8995048fbe6fd56955d4667029db8f5229c.jar
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/drawable-hdpi/
app/build/intermediates/res/merged/debug/drawable-mdpi/
app/build/intermediates/res/merged/debug/drawable-xhdpi/
app/build/intermediates/res/merged/debug/drawable-xxhdpi/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/mergeJavaRes/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
build/generated/
